:root {

    --color-bg: #272C39FF;
    --color-bg-2: #3F4A71FF;
    --color: #717B9EFF;
    --color-font: #FDFDFDFF;
    --color-green: #5c9938;
    --color-red: #e93d45;
    --color-yellow: #D6D168FF;


}

.ant-btn {
    height: 100px;
}

.ant-layout-sider {
    background: transparent !important;
}
